aiohttp
aiofiles
aria2p
async_generator
bs4
bitlyshortener
covid
cowpy
cryptg
cffi
deezloader
dnspython
emoji
git+https://github.com/johnwmillr/LyricsGenius.git
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans>=2.4.0
google_images_download>=2.7.1
gTTS>=2.0.1
gTTS-token>=1.1.3
hachoir>=3.0a5
# heroku
heroku3>=3.4.0
html_telegraph_poster
httplib2
humanize
jikanpy
lxml
oauth2client
Pillow>=6.0.0
psutil
pendulum
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dotenv
python-dateutil
pyGithub
pyfiglet
PyLyrics
pyaztro
youtube-dl
youtube_search
pytz
qrcode
requests
search-engine-parser>=0.6.1
speedtest-cli
sqlalchemy
telethon==1.15.0
telethon-session-sqlalchemy
urbandict
wikipedia
wget
telegraph
validators
justwatch