aiohttp
aiofiles
aria2p
async_generator
bs4
bitlyshortener
covid
cowpy
cryptg
cffi
deezloader
dnspython
emoji
git+https://github.com/johnwmillr/LyricsGenius.git
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
google_images_download
gTTS
gTTS-token
hachoir
# heroku
heroku3
html_telegraph_poster
httplib2
humanize
jikanpy
lxml
oauth2client
Pillow
psutil
pendulum
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dotenv
python-dateutil
pyGithub
pyfiglet
PyLyrics
pyaztro
youtube-dl
youtube_search
pytz
qrcode
requests
search-engine-parser
speedtest-cli
sqlalchemy
telethon==1.15.0
telethon-session-sqlalchemy
urbandict
wikipedia
wget
telegraph
validators
justwatch