# Required Telegram credentials
API_KEY=
API_HASH=
STRING_SESSION=

DATABASE_URL=
BOTLOG=False
BOTLOG_CHATID=0
LOGSPAMMER=False
CONSOLE_LOGGER_VERBOSE=False
TZ=Asia/Jakarta
TMP_DOWNLOAD_DIRECTORY=./downloads/
ZIP_DOWNLOAD_DIRECTORY=./zips
DISABLED_MODULES=
ALIVE_NAME=
ALIVE_LOGO=https://telegra.ph/file/25a8e3260340a3966b12a.mp4
PM_AUTO_BAN=False
CLEAN_WELCOME=True
HEROKU_APP_NAME=
HEROKU_API_KEY=
GITHUB_ACCESS_TOKEN=
GIT_REPO_NAME=
OPEN_WEATHER_MAP_APPID=
WEATHER_DEFCITY=
WEATHER_DEFLANG=en
OCR_SPACE_API_KEY=
REM_BG_API_KEY=
GENIUS_ACCESS_TOKEN=
BITLY_TOKEN=
WATCH_COUNTRY=ID
DEEZER_ARL_TOKEN=
BOT_TOKEN=
BOT_USERNAME=
